---
title: Home
---

<ul class="gallery">
	{% for photo in site.data.shirts %}
		<li style="background-image: url('{{ site.baseurl }}{{ photo.front | resize: "800x800>" }}')">
      <a title="{{ photo.title }}"
         href="{{ site.baseurl }}{{ photo.front }}"
         data-id="#{{ photo.front | slugify }}"
         data-caption="{{ photo.caption }}">
      </a>
      {{ photo.title }}
    </li>
    {% if photo.back == nil %}
    <li style="background-image: url('{{ site.baseurl }}{{ photo.null | resize: "800x800>" }}')">
    </li>
    {% else %}
    <li style="background-image: url('{{ site.baseurl }}{{ photo.back | resize: "800x800>" }}')">
      <a title="{{ photo.title }}"
         href="{{ site.baseurl }}{{ photo.back }}"
         data-id="#{{ photo.back | slugify }}"
         data-caption="{{ photo.caption }}">
      </a>
    </li>
    {% endif %}
	{% endfor %}
    <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>

</ul>

<div class="overlay">
	<a href="#" class="close">&#10005;</a>
	<a class="prev">&lsaquo;</a>
	<a class="next">&rsaquo;</a>
	<p class="caption"></p>
	<img>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  if (window.location.host === "app.cloudcannon.com") {
    $('.gallery').find("a").click(function(e) {
      e.preventDefault();
      return false;
    });
  } else {
    var script = document.createElement("script");
    script.src = "{{ site.baseurl }}/js/lightbox.js";
    document.body.appendChild(script);
  }
</script>